body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-image: url('/newDealBackground.png'); */
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

main {
    background: linear-gradient(to bottom, #4CAF50, #45a049) fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff3e5;
    border-radius: 10px;
    padding: 20px;
    max-width: 650px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    background-image: url('/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 240px;
    height: 70px;
    width: 200px;
    margin: 0;
}

.container h4 {
    color: #333;
}

#jsonData {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;
    color: gray;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2E7D32;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1B5E20;
}